{% extends 'layout.html' %}

{% block content %}

<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Company Dashboard</h2>
        <a href="{{ url_for('main.create_job')}}" class="btn btn-primary">+ Create New Drive</a>
    </div>

    <div class="card mb-4 bg-light">
        <div class="card-body">
            <h5>Welcome,{{current_user.company_profile.company_name}}</h5>
            <p class="mb-0"><strong>Email Id:</strong>{{current_user.email}}
            <strong>Status:</strong> <span class="badge bg-success">Approved</span></p>
        </div>
    </div>

    <h4>Company Placements Drives</h4>
    <table class="table table-hover mt-3">
        <thead class="table-dark">
            <tr>
                <th>Job Title</th>
                <th>Salary</th>
                 <th>Deadline</th>
                 <th>Status</th>
                 <th>Applicants</th>
            </tr>

        </thead>
        <tbody>
            {% for job in jobs %}
            <tr>
                <td>{{job.title}}</td>
                <td>{{job.salary}}</td>
                <td>{{job.deadline.strftime('%Y-%m-%d')}}</td>
                <td>
                    {% if job.status =='Approved' %}
                    {% if job.deadline < now %}
                    <span class="badge bg-danger">Deadline Passed</span>
                    {% else %}
                    <span class="badge bg-success">Live</span>
                    {% endif %}
                    {% elif job.status =='Pending' %}
                    <span class="badge bg-warning text-dark">Pending</span>
                    {% else %}
                    <span class="badge bg-secondary">{{job.status}}</span>
                    {% endif %}

                    
                </td>
                <td class="btn btn-sm btn-outline-info" disabled>View (0)</td>

            </tr>
            {% else %}
            <tr>
                <td colspan="5" class="text-center">You haven't posted any jobs</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}